// Base (estos archivos existen en tu carpeta sass/base)
@use "./base/reset";
@use "./base/images";
@use "./base/typography";
@use "./base/animations";


// Layout
@use "./layout/footer";
@use "./layout/main";

// Components
@use "./components/publicidades";
@use "./components/text";



