// Base
@use "./base/reset";
@use "./base/images";
@use "./base/typography";
@use "./base/animations";

// Layout
@use "./layout/main";
@use "./layout/footer";

// Components
@use "./components/publicidades";
@use "./components/text";
@use "./components/juegos";




