.publicidades {
  background-color: #0d6efd;
  min-height: 220px;
  border-radius: 1rem;

  img {
    max-height: 120px;
    object-fit: contain;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.img-hover:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
  }
}


