.publicidades {
  background-color: #94bce4;
  border-radius: 1rem;

  .public-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .public-img:hover {
    transform: scale(1.03);
  }
}



