.publicidades {
  background-color: #94bce4;
  border-radius: 1rem;

  /* clave: NO crecer */
  flex-grow: 0;

  .public-box {
    height: 140px;
    border-radius: 0.75rem;
    background: #ffffff;
    padding: 12px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .public-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
  }

  @media (min-width: 992px) {
    .public-box {
      height: 160px;
    }
  }
}







